.container {
  padding: 32px;
}

@media (max-width: 600px) {
  .container {
    padding: 16px;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 12px;
  text-align: left;
}

.actionIcon:not(:last-child) {
  margin-left: 12px;
}
